---json
{
    "layout": "base.njk",
    "title": "Evoluted Tech Test"
}
---

<noscript>
    <p>
        To fetch you these loveleh space pics, we need you to have JavaScript enabled. Seems right now you don't, but fret not, let's see about getting <a href="https://www.enable-javascript.com/">JavaScript enabled</a> for you pronto so you can witness the magnificence.
    </p>
</noscript>


{% include 'today.njk' %}
{% include 'other-images.njk' %}