.no-js .other-images {
    display: none;
}

.other-images .cards {
    display: grid;
    position: relative;
    inline-size: 100%;
    align-items: start;

    @media (--from-tablet) {
        gap: var(--space-m) var(--space-l);
        grid-template-columns: repeat(4, 1fr);
    }

    @media (--mobile) {
        gap: var(--space-l) var(--space-s);
        grid-template-columns: 1fr 1fr;
    }
}

.other-images .image .loading-message {
    display: none;
}

.other-images .image.is_loading .loading-message {
    position: absolute;
    inset-block-start: 25%;
    inset-inline-start: 50%;
    translate: -50% -50%;
    inline-size: 80%;
    color: var(--c-white);
    display: block;
    text-align: center;
}

.other-images .image.is_loading::before {
    content: '';
    display: block;
    position: absolute;
    inset: 50% 50%;
    translate: -50% -50%;
    inline-size: 48px;
    block-size: 48px;
    border-radius: 50%;
    border-width: 4px;
    border-style: solid;
    border-color: transparent transparent var(--c-blue);
    animation: 0.5s spinner infinite linear;
}

.other-images .title {
    margin-block-end: var(--space-m);
}

.card {
    display: grid;
    grid-template-areas: "i" "d" "c";
    position: relative;
}

.card .image {
    grid-area: i;
    margin-block-end: var(--space-s);
}

.card img {
    display: block;
    aspect-ratio: 27 / 20; /* 270px x 200px simplified */
    inline-size: 100%;
    block-size: auto;
}

.card .copyright {
    grid-area: c;
}

.card .date {
    grid-area: d;
    margin-block-end: var(--space-xs);
}